[Unit]
Description=Clash daemon, A rule-based proxy in Go.
After=network.target

[Service]
ExecStart=/usr/local/bin/clash -d /etc/clash/
Restart=on-failure

[Install]
WantedBy=multi-user.target